{{!
    Copyright 2015 Red Hat, Inc. and/or its affiliates
    and other contributors as indicated by the @author tags.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
}}

{{#deprecated}}-deprecated-{{/deprecated}}
{{summary}}

{{description}}

{{#if externalDocs.url}}{{externalDocs.description}}. [See external documents for more details]({{externalDocs.url}})
{{/if}}

##### Request

{{#if consumes}}
**Content-Type: ** {{join consumes ", "}}{{/if}}

{{#if parameters}}
[options="header"]
|=======================
|Parameter|Located in|Required|Description|Default|Schema
{{/if}}

{{#parameters}}

{{#ifeq schema.$ref "#/definitions/AsyncResponse"}}
{{else}}

 |{{name}}|{{in}}|{{#if required}}yes{{else}}no{{/if}}|{{description}}{{#if pattern}} (**Pattern**: `{{pattern}}`){{/if}}
 |{{#if defaultValue}}{{defaultValue}}{{else}} - {{/if}}|
{{#ifeq in "body"}}
    {{#ifeq schema.type "array"}}Array[<<{{basename schema.items.$ref}},{{basename schema.items.$ref}}>>]{{/ifeq}}
    {{#schema.$ref}}<<{{basename schema.$ref}},{{basename schema.$ref}}>>{{/schema.$ref}}
{{else}}
    {{#ifeq type "array"}}
            Array[{{items.type}}] ({{collectionFormat}})
    {{else}}
            {{type}} {{#format}}({{format}}){{/format}}
    {{/ifeq}}
{{/ifeq}}

{{/ifeq}}
{{/parameters}}

{{#if parameters}}
|=======================
{{/if}}


##### Response

{{#if produces}}**Content-Type: ** {{join produces ", "}}{{/if}}

[options="header"]
|=======================
| Status Code | Reason      | Response Model
{{#each responses}}| {{@key}}    | {{description}} | {{#schema.$ref}}<<{{basename schema.$ref}},{{basename schema.$ref}}>>{{/schema.$ref}}{{#ifeq schema.type "array"}}Array[<<{{basename schema.items.$ref}},{{basename schema.items.$ref}}>>]{{/ifeq}}{{^schema}} - {{/schema}}
{{/each}}
|=======================

{empty} +


